.data-area {
    max-width: 850px;
    margin: 0 auto;
  &--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 5px 20px;
  }
  &--results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 5px 20px;
    &--resource{
        &__git{
            display: flex;
            &__title{
                margin-right: 10px;
            }
        }
    }
  }
}
