.data-area {
    max-width: 850px;
    margin: 0 auto;
  &--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 5px 20px;
  }
  &--results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 5px 20px;
    &--resource{
        &__name{
            font-size: 1.3rem;
            font-weight: 700;
        }
        &__git{
            display: flex;
            &__title{
                font-size: 1rem;
                font-weight: 600;
                margin-right: 10px;
            }
        }
    }
  }
}
